<!DOCTYPE html>
<html>
<head>
	<title>ChatGPT</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">   
	<script src="{{ url_for('static', filename='script.js') }}"></script>
</head>
<body>
	<div class="container">
		<h1>ChatGPT Python API 🤖</h1>
		{% if user_input %}
			<div class="chat-container">
				<div class="user-message">
					<p>{{ user_input }}</p>
				</div>
				<div class="ai-message">
					<p>{{ response }}</p>
				</div>
			</div>
		{% endif %}
		<form method="post" action="/" submit="showLoadingAnimation()">
			<input type="text" name="user_input" placeholder="Ask me anything...">
			<button type="submit" id="submit-btn">
				<span>Ask</span>
				<div class="loading-icon">
					<div></div>
					<div></div>
					<div></div>
				</div>
			</button>
		</form>
	</div>
	<div class="footer-container"></div>
		<footer>
			<p>Made with ❤️ by Jose Benitez</p>
			<a href="https://twitter.com/joselobenitezg" class="fa fa-twitter"></a> 
		</footer>	
	</div>
</body>
</html>
